.App {
  text-align: center;
  background-color: transparent;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    background-color: transparent;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-login-light {
    background-color: transparent;
    border-radius: 2em;
    border: 0.1em solid black;
    color: black;
    cursor: pointer;
    font-size: 1.5vh;
    padding: 0.7em 1.5em;
    transition: all 0.5s ease;
    animation: fadein 2s forwards;
    text-decoration: none;
}

.btn-login-light:hover {
    background: black;
    color: antiquewhite;
}

.btn-login-dark {
    background-color: transparent;
    border-radius: 2em;
    border: 0.1em solid antiquewhite;
    color: antiquewhite;
    cursor: pointer;
    font-size: 1.5vh;
    padding: 0.7em 1.5em;
    transition: all 0.5s ease;
    animation: fadein 2s forwards;
    text-decoration: none;
}

.btn-login-dark:hover {
    background: antiquewhite;
    color: #333;
}

.no-music-text {
    color: antiquewhite;
    cursor: pointer;
    font-size: 1.5vh;
    padding: 0.7em 1.5em;
    transition: all 0.5s ease;
    animation: fadein 2s forwards;
    text-decoration: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}