/*
.song-info-ext {
    display: table;
    width: 100%;
}

.song-info-int {
    display: table-cell;
    vertical-align: middle;
}
*/

.song-area {
    width: 100vw;
}

.song-area2 {
    margin-bottom: 0vh;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.song-image {
    width: 50vw;
    height: 50vw;
    max-height: 300px;
    max-width: 300px;
    text-decoration: none;
    font-size: 2em;
    opacity: 1;
    display: inline-flex;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    margin: 1vh 1vh 1vh 1vh;
    border-radius: 50%;
    color: transparent;
}

.can-hover-img.dark-mode {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    border-radius: 5%;
    color: transparent;
}

.can-hover-img.light-mode {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    border-radius: 5%;
    color: transparent;
}

.can-hover-img:hover.dark-mode {
    opacity: 0.5;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    box-shadow: 0 0 30px 2px black;
    border-radius: 5%;
    color: transparent;
}

.can-hover-img:hover.light-mode {
    margin: 3vh 3vh 3vh 3vh;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    box-shadow: 0 0 30px 2px black;
    border-radius: 5%;
    color: transparent;
}

.song-title {
    font-size: min(4vw, 30px);
    margin-top: 1vh;
}

.song-title-link {
    color: antiquewhite;
    text-decoration: none;
    display: inline-block;
}

.song-artist {
    font-size: min(2vw, 15px);
    margin-top: 1vh;
}

.song-artist-link {
    color: antiquewhite;
    text-decoration: none;
    display: inline-block;
}

.progress-border {
    /*border: 1px solid aliceblue;*/
    height: 0.5vh;
    /*border-radius: 3px;*/
    overflow: hidden;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.progress-in {
    background-color: antiquewhite;
    height: 0.5vh;
    border-radius: 5px;
}

.playing-status {
    height: 0.5vh;
}

.popularity {
    color: #333;
    font-size: 12.5px;
    margin-bottom: 2vh;
    margin-right: 2vw;
    position: fixed;
    bottom: 0;
    right: 0;
}

.device {
    color: #333;
    font-size: 12.5px;
    margin-bottom: 2vh;
    margin-left: 2vw;
    position: fixed;
    bottom: 0;
    left: 0;
}
.website {
    color: #333;
    font-size: 12.5px;
    margin-bottom: 2vh;
    position: absolute;
    bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    right: 0px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}
